@use "tailwindcss";


html, body, #root {
  background-color: #14151B;
  height: 100%;
  margin: 0;
  padding: 0;
}



.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // или 100dvh для лучшей поддержки на мобильных
}

.main-content {
  flex-grow: 1; // Это самая важная часть!
}

.authBackground{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("/authbackground.jpg");;
}


.myButtonColor {
  background-color: #00FE92;
  transition: background-color 0.3s ease;
  color: black;

  &:hover {

    background-color: #099f5f;
  }

}

