@use "tailwindcss";


html, body, #root {
  background-color: #14151B;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navItem{
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover{
    background-color: #00FE92;
    color: black;
  }
}


.errorMessage {
  background-color: #fef2f2;
  border: 1px solid #fca5a5;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // или 100dvh для лучшей поддержки на мобильных
}

.main-content {
  flex-grow: 1; // Это самая важная часть!
}

.authBackground{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("/authbackground.jpg");;
}


.myButtonColor {
  background-color: #00FE92;
  transition: background-color 0.3s ease;
  color: black;

  &:hover {

    background-color: #099f5f;
  }
}

.mainInput{
  border-color: #222224;
  background-color: #38393D;
  color: white;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #aeb2ae;
  }

  &:focus {
    border-color: #00FE92;
  }
}


.feedback-scrollbar {
  @apply bg-gray-800 rounded-full; /* Фон самого трека */
}

.feedback-scrollbar .swiper-scrollbar-drag {
  @apply bg-green-500 rounded-full; /* Цвет ползунка, который можно перетаскивать */
  cursor: grab;
}

.feedback-scrollbar .swiper-scrollbar-drag:active {
  cursor: grabbing;
}


.feedback-pagination .swiper-pagination-bullet {
  @apply w-3 h-3 bg-gray-600 opacity-100 rounded-full; /* Стили для неактивной точки */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Стили для АКТИВНОЙ точки */
.feedback-pagination .swiper-pagination-bullet-active {
  @apply bg-green-400 scale-125; /* Делаем активную точку зеленой и чуть больше */
}

