.descriptionTextarea {

  min-height: 150px;
  max-height: 150px;

  border-color: #222224;
  background-color: #38393D;
  color: white;
  transition: border-color 0.25s ease;

  &:hover {
    border-color: #aeb2ae;
  }

  &:focus {
    border-color: #00FE92;
  }
}