.descriptionTextarea {

  min-height: 150px;
  max-height: 150px;

  border-color: #222224;
  background-color: #38393D;
  color: white;
  transition: background-color 0.5s ease-in-out;

  &:focus {
    border-color: #00FE92;
  }
}