.mainAside{

  background-color: #212227;

}


.addButton{

  background-color: #00FE92;
  transition: background-color 0.3s ease;

  &:hover {

    background-color: #099f5f;
  }
}


.searchInput{
  background-color: #38393D;
  color: white;
  border: solid 1px #38393D;
  transition: border-color 0.5s ease;

  &:hover{
    border-color: #aeb2ae;
  }
}


