.separator {
  border: none;
  border-left: 1.5px solid #ccc;
  height: 27px;
  margin-top: 18px;
}

.mainCard{

  background-color: #212227;
  color: white;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #aeb2ae;
  }
}

.addButton{

  background-color: #00FE92;
  transition: background-color 0.3s ease;

  &:hover {

    background-color: #099f5f;
  }
}


.miniButton {
  background-color: #38393D;
  color: white;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #aeb2ae;
  }
}
